body {
    display: flex;
    justify-content: center;
    
}
.post{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid #dbdbdb;
    } 
.post-body{
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.icons{
    display:flex;
    justify-content: space-between;
}
.names{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.icons-left{
    padding-top: 16px;
    padding-right: 16px;
}

.icons-right{
    padding-top: 16px;
    padding-right: 16px;
}
.fa-regular{
    margin-right: 5px;
}
.post-image img {
    width: 500px;
    height: 300px;
}
p{
    margin: none;
}