body {
    background-color: black;
    display: flex;
    justify-content: center;
}
aside{
    padding-left:10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.post{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    } 
.post-body{
    padding-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.icons{
    display:flex;
    justify-content: space-between;
    padding-top:10px
}
.icons-top{
    display:flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
}    
}
.names{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-family: "Roboto", sans-serif;
   
}
.icons-left-top{
    display: flex;

}
.icons-left-top i{
    padding-top: 20px;
    padding-left: 10px;
}
.icons-left{
    position: relative;
    padding-right: 10px;
    
}

.icons-right-top{
    padding-right: 10px;
    padding-top: 10px;
}
.fa-regular{
    margin-right: 5px;
}
.post-image img {
    width: 400px;
    height: 300px;
}
.likes{
    margin: none;
}
span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}